---
title: Cocktail Menu | EricLutley.com
---

<div class="menu-container">
  <div id="menu">
    <h1>Cocktails</h1>
    <% data.menu.cocktails.each do |drink| %>
      <div class="drink">
        <h2><%= drink.name %></h2>
        <ul class="ingredients">
          <% drink.ingredients.each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
        <% if drink.description %>
          <p class="description"><%= drink.description %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
